/* CSS Section */

/* Set styles for the body element */
body {
    width: 100%;
    height: 100vh; /* 100% of the viewport height */
    margin: 0; /* Remove default margin */
    background-color: #1b1b32; /* Background color */
    color: #f5f6f7; /* Text color */
    font-family: Tahoma; /* Font family */
    font-size: 16px; /* Font size */
  }
  
  /* Center-align text for h1 and p elements */
  h1, p {
    margin: 1em auto; /* Add space around the elements and center them horizontally */
    text-align: center; /* Center-align text */
  }
  
  /* Styles for the form element */
  form {
    width: 60vw; /* 60% of the viewport width */
    max-width: 500px; /* Maximum width */
    min-width: 300px; /* Minimum width */
    margin: 0 auto; /* Center-align the form horizontally */
    padding-bottom: 2em; /* Add space below the form */
  }
  
  /* Styles for fieldset elements */
  fieldset {
    border: none; /* Remove fieldset border */
    padding: 2rem 0; /* Add vertical padding */
    border-bottom: 3px solid #3b3b4f; /* Add a bottom border with a color */
  }
  
  /* Remove bottom border from the last fieldset */
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  /* Styles for labels */
  label {
    display: block; /* Display labels as blocks */
    margin: 0.5rem 0; /* Add spacing around labels */
  }
  
  /* Styles for input, textarea, and select elements */
  input,
  textarea,
  select {
    margin: 10px 0 0 0; /* Add spacing for input elements */
    width: 100%; /* Expand input elements to full width */
    min-height: 2em; /* Set minimum height for elements */
  }
  
  /* Styles for input and textarea backgrounds, borders, and text color */
  input,
  textarea {
    background-color: #0a0a23; /* Background color */
    border: 1px solid #0a0a23; /* Border color and thickness */
    color: #ffffff; /* Text color */
  }
  
  /* Styles for inline elements with class .inline */
  .inline {
    width: unset; /* Reset width */
    margin: 0 0.5em 0 0; /* Add spacing around inline elements */
    vertical-align: middle; /* Align elements vertically */
  }
  
  /* Styles for submit button */
  input[type="submit"] {
    display: block; /* Display as a block-level element */
    width: 60%; /* 60% width of its container */
    margin: 1em auto; /* Add space around and center-align the button */
    height: 2em; /* Set button height */
    font-size: 1.1rem; /* Font size */
    background-color: #3b3b4f; /* Background color */
    border-color: white; /* Border color */
    min-width: 300px; /* Minimum button width */
  }
  
  /* Styles for file input */
  input[type="file"] {
    padding: 1px 2px; /* Add padding to the file input */
  }
  